body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Plantagenet Cherokee",
    sans-serif,'Didact Gothic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: ##eeeeee;
  background-color: #D3D3D3;
  /* background-image: radial-gradient(circle, #ECE9E6 0%, #FFFFFF 100%); */
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}
